@import url('https://fonts.googleapis.com/css?family=Amaranth|Bilbo+Swash+Caps|Open+Sans|Roboto');

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
}

h2.regular {
  text-align: center;
  font-size: 25px;
}
@media screen and (max-width: 738px) {
  h2.regular {
    font-size: 20px;
  }
}

p.regular {
  text-align: center;
  font-size: 15px;
}
@media screen and (max-width: 738px) {
  p.regular {
    font-size: 15px;
  }
}

.header {
  margin: 0 auto;
  margin-top: -160px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  img.th {
    width:90%;
    height:90%;
    margin-top: -5em;
  }
}

.text{
  justify-content: center;
  margin-top: -100px;
  margin-left: 30px;
  position:relative;
}

.lyrics{
  margin: 0 auto;
  padding-top: 2em;
}

.container{
	display:inline-flex;
	width: 50%;
    float: left;
    margin-left: 15%;
}
.search {
  width: 100%;
  position: relative;
  height: 48px;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #515BD4;
  padding-left: 10px;
  height: 100%;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .searchTerm {
    font-size: 14px;
    height: 40px;
  }
}

.searchTerm:focus{
  color: #515BD4;
}

.searchButton {
  position: absolute;
  right: -35px;
  width: 48px;
  height: 100%;
  border: 1px solid #515BD4;
  background: #515BD4;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .searchButton {
    height: 48px;
  }
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 70%;
  margin: 0 auto;
  transform: translateX(-5%);
}
@media only screen and (min-width: 768px) {
  .wrap {
    width: 30%;
  }
}

.randomButton {
  position: absolute;
  right: -75px;
  width: 48px;
  height: 100%;
  border: 1px solid #515BD4;
  background: #515BD4;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .randomButton {
    height: 48px;
  }
}


/* Artist info card! */
#content {
  width:100%;
  height:50%; 
  .list {
    width:100%;
    display:inline-block;
    margin:180px 0;
    text-align:center;
  }
}

.product-card {
  width:280px;
  display:inline-block;
  background-color:#fff;
  position:relative;
  z-index:20;
  box-shadow:0 1px 11px 0 rgba(0,0,0,.1);
  border-radius:2px;
  margin-bottom:40px;
  
  -webkit-transition: all 250ms ease-out;
	   -moz-transition: all 250ms ease-out;
	    -ms-transition: all 250ms ease-out;
	     -o-transition: all 250ms ease-out;
	        transition: all 250ms ease-out;
  cursor:pointer;
  border-radius:0 10px 0 0;
  span.tag {
    position:absolute;
    left:0px;
    width:40px;
    height:50px;
    line-height:40px;
    color:#fff;
    font-size:14px;
    &:after {
      content: '';
      position:absolute;
      left:0;
      z-index:-1;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 60px 60px 0 0;
      border-color: #264989 transparent transparent transparent
    }

  }
  figure {
    width:100%;
    display:inline-block;
    margin:0px;
    padding:0px;
    img {
      display:inline-block;
      max-width:80%;
      margin:30px 0;
    }
  }
.price {
    width:100%;
    margin-bottom:20px;
    font-size:25px;
    display:block;
    color:#515BD4;
    font-weight:400;
  }
  
  &:hover {
    transform: scale(1.1);
      box-shadow:0 1px 11px 0 rgba(0,0,0,.3);

  }
}


/* TOPE'S CSS HOTFIXES */
.container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sticky {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .sticky {
    font-size: 15px;
  }
}
