<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title> Caption Creatr </title>
	</head>
<body>
	<div class="header">
		<img src="{{ url_for('static', filename='img/CapCre.png') }}">
		</div>
<div class="wrap">
<form action="{{ url_for('search') }}" method="post">
   <div class="search">
      <input type="text" class="searchTerm" name="hashtag" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
	</form>
<form action="{{ url_for('random100') }}" method="post">
     <button type="submit" class="randomButton">
        <i class="fa fa-refresh fa-spin"></i>
     </button>
	</form>
   </div>
</div>
<div>
	{% block content %}{% endblock %}
</div>
</body>
</html>
