<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title> Caption Creatr </title>
	</head>
<body>
<h1>Caption Creatr</h1>
<p>Hi, this is my personal website.</p>
<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
     <button type="random" class="randomButton">
        <i class="fa fa-refresh fa-spin"></i>
     </button>
   </div>
</div>
<div>
	{% block content %}{% endblock %}
</div>
</body>
</html>
