<!DOCTYPE html>
<html>
<body>
{% extends "home.html" %}
{% block content %}
<div class="container">
	{{ lyrics }}
</div>
<div id="content">

        <div class="list">

          <div class="product-card">
            <figure>
		    <a href="{{ url}}">
			    <img src="{{ thumbnail }}" onerror="this.onerror=null;this.src='{{ url_for('static', filename='img/default.jpg') }}';" class="th" >
		    </a> </figure>

	    <a href="{{ url}}" style="text-decoration:none;
	    color:black;">
            <span class="price" style="margin-bottom: 20px;
    display: block;
    font-size: 15px;
    margin-left: 50px;">
		    {{ song }}
            </span>
	    </a>


          </div>

        </div>

      </div>
{% endblock %}
</body>
</html>
